<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.relaycorp.courier">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Courier"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.Courier.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.sync.internet.InternetSyncActivity"
            android:label="@string/sync_internet"
            android:theme="@style/Theme.Courier.Sync" />

        <activity
            android:name=".ui.sync.people.PeopleSyncActivity"
            android:label="@string/sync_people"
            android:theme="@style/Theme.Courier.Sync" />

        <activity
            android:name=".ui.sync.people.HotspotInstructionsActivity"
            android:label="@string/hotspot_instructions" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings" />
    </application>
</manifest>
