name: CI and automatic releases
on:
  push:
    branches-ignore: [gh-pages]
jobs:
  static-checks:
    name: Static checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

  ci:
    needs: static-checks
    name: "Run static checks and tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Grade dependencies
        uses: actions/cache@v1
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: eskatos/gradle-command-action@v1
        with:
          arguments: build --scan
      - name: Assemble instrumentation tests APK
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: "app:assembleDebug app:assembleDebugAndroidTest"
      - name: Run tests on physical and virtual devices
        uses: asadmansr/Firebase-Test-Lab-Action@v1.0
        with:
          arg-spec: 'app/firebase-test-lab.yml:spec'
        env:
          SERVICE_ACCOUNT: ${{ secrets.CI_GCP_SERVICE_ACCOUNT }}

  release:
    needs: ci
    uses: relaycorp/shared-workflows/.github/workflows/android-app-release.yml@main
    secrets:
      android_keystore: ${{ secrets.ANDROID_KEYSTORE }}
      android_keystore_password: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
      android_key_alias: ${{ secrets.ANDROID_KEYSTORE_KEY_NAME }}
      android_key_password: ${{ secrets.ANDROID_KEYSTORE_KEY_PASSWORD }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      android_publisher_credentials: ${{ secrets.PUBLISHER_GCP_SERVICE_ACCOUNT }}
